body, input, .bypass-colors {
  background-color: white;
  color: black;
	text-shadow: 0 0 10px black;
}
input[type="number"] {
  border-color: #c0c0c0;
}
.dmbutton {
	color: white;
}
.button, .buttonnocenter {
padding: 10px; line-height: 25px; border-radius: 5px; box-shadow: #0008 0 0 10px; display: inline-block; margin-bottom: 25px; cursor: pointer; }
.button:hover, .buttonnocenter:hover {
background: #eee; }
.button:active, .buttonnocenter:active {
	background: white; 
	color: #333;
}
details > summary {
  background-color: white;
  box-shadow: 3px 3px 4px #0008
}
details > p {
  background-color: white;
  box-shadow: 3px 3px 4px #0008;
}
details[open] > summary {
  background-color: #eee;
}
